<h1>Serviços</h1>
<a class="action-btn action-edit" href="/servicos/cadastrar">+ Novo Serviço</a>

<table>
    <tr><th>Nome</th><th>Preço</th><th>Descrição</th><th>Ações</th></tr>
    {{#each servicos}}
    <tr>
        <td>{{nome}}</td>
        <td>R$ {{preco}}</td>
        <td>{{descricao}}</td>
        <td>
            <a class="action-btn action-edit" href="/servicos/editar/{{id}}">Editar</a>
            <a class="action-btn action-delete" href="/servicos/excluir/{{id}}">Excluir</a>
        </td>
    </tr>
    {{/each}}
</table>
<a class="back-link" href="/">Voltar</a>